$blue: #120079;
$main-text: #FFFFFF;
$buttons: #6956FD;

// login-menu
$background: #E6E2FF;
$menu-text: #6F62BC;
$menu-input-box: #120079;

// chat-page
$body-chat: #F9F9F9;
$menu: #120079;
$menu-heighlighted: #AB6FB2;
$dividers: #E8E8E8;
